<h1>Thanks for you purchase</h1>

<p>Name: <%= @customer.first_name %> <%= @customer.last_name %></p>
<p>Address: <%= @customer.address%></p>
<p>Province: <%= @customer.province.name%></p>
<p>Subtotal: <%= number_to_currency @order.subtotal %></p>
<p>Taxes: <%= number_to_currency @order.tax %></p>
<p>Grand Total: <%= number_to_currency @order.total %></p>