<nav>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
      <!--<li><a href="category/<%=category.id%>"><%=category.name%></a></li>-->
    <% end %>
  </ul>
</nav>

<h2>All Products</h2>

<% @products.each do |product| %>
  <div class="product">
    <h2><%= link_to product.name, product%></h2>
    
    <% if product.image.present? %>
      <p><%= image_tag product.image.medium.url %></p>
    <% end %>
    
    <p><strong>Price:</strong> <%= number_to_currency product.price %></p> 
  </div>
<% end %>



