<nav>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
</nav>

<div class="productshow">
  <h2><%= link_to @product.name, @product %></h2>
  
  <% if @product.image.present? %>
    <p><%= image_tag @product.image.large.url %></p>
  <% end %>
  
  <p><strong>Price:</strong> <%= number_to_currency @product.price %></p>
  
  <div><%= @product.description %></div>  
</div>