<!DOCTYPE html>
<html>
<head>
  <title>DungeonLootGames</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
      <header>
        <h1>Dungeon Loot Games</h1>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
          </ul>
        </nav>
      </header>
  </div>

<%= yield %>

</body>
</html>
