<!DOCTYPE html>
<html>
<head>
  <title>DungeonLootGames</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
      <header>
        <h1><%= link_to "Dungeon Loot Games", root_path %></h1>
      </header>
  </div>
  
  <nav>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </nav>
  
  <h2>Product Search</h2>

  <%= form_tag search_results_path do %>
    <%= text_field_tag :keywords %>  
    <%= collection_select :post, :category_id, @categories, :id, :name, prompt: "Please select a category" %>  
    <%= submit_tag 'Search' %>
  <% end %>

<%= yield %>

</body>
</html>
